<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{room}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="saveRoom()">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="gotoPeoplePage()">
        <ion-icon name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollX="true">
  <app-timetable room={{room}}></app-timetable>
</ion-content>
