
.time {
    padding: 4px;
    text-align: left;
    max-width: 108px;
    min-width: 108px
}

.buttontext {
    font-size: 10px;
}

.days {
    max-width: 52px;
    min-width: 52px
}

.divider {
    border-bottom: 1px solid gray;
}

.card{
    box-shadow: 1px 1px 1px gray;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding-left: 4px;
    margin: 4px
}

tr:nth-child(even) {
    background-color: #f2f2f2
}