<table>
  <tr>
    <th></th>
    <th width="200">0800</th>
    <th width="200">0900</th>
    <th width="200">1000</th>
    <th width="200">1100</th>
    <th width="200">1200</th>
    <th width="200">1300</th>
    <th width="200">1400</th>
    <th width="200">1500</th>
    <th width="200">1600</th>
    <th width="200">1700</th>
    <th width="200">1800</th>
    <th width="200">1900</th>
    <th width="200">2000</th>
    <th width="200">2100</th>
  </tr>

  <tbody *ngFor="let day of days">
    <tr>
      <th rowSpan={{day.rows}}>{{day.day}}</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngFor="let row of buildArray(day.rows-1)">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>

</table>