<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Person</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="newPerson.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NUSMods Sharable URL</ion-label>
      <ion-input type="url" [(ngModel)]="newPerson.url"></ion-input>
    </ion-item>

  </div>

  <ion-button padding expand="full" color="success" (click)="addPerson()">Add</ion-button>

  <div *ngIf="isSpinnerVisible" text-center>
    <h5>Adding timetable</h5>
    <ion-spinner></ion-spinner>
  </div>

</ion-content>