<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Person</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" offsetLg="4" offsetMd="3">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" [(ngModel)]="newPerson.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">NUSMods Sharable URL</ion-label>
          <ion-input type="url" [(ngModel)]="newPerson.url"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div margin text-center style="height: 24px">
      <div *ngIf="isSpinnerVisible" text-center>
        <h5>Adding timetable</h5>
        <ion-spinner></ion-spinner>
      </div>
      <ion-text color="danger">
        {{errorText}}
      </ion-text>
    </div>

    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" offsetLg="4" offsetMd="3">
        <ion-button padding expand="full" color="success" (click)="addPerson()">Add</ion-button>


      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>