<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" offsetLg="4" offsetMd="3">
        <img src="/assets/icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto">
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" offsetLg="4" offsetMd="3">
        <ion-item>
          <ion-label position="floating">Room name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" offsetLg="4" offsetMd="3">

        <ion-button padding (click)="gotoRoomPage()" color="success" expand="block">Enter room</ion-button>
        <ion-button padding (click)="gotoNewRoomPage()" color="primary" expand="block" fill="clear" size="small">Create new room</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>